<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="jsonConsole" target="SYSTEM_OUT">
            <JsonLayout complete="false" compact="true" eventEol="true" properties="true" stacktraceAsString="true" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="vulcan" level="ALL" additivity="false">
            <AppenderRef ref="jsonConsole" />
        </Logger>
        <Root level="WARN">
            <AppenderRef ref="jsonConsole" />
        </Root>
    </Loggers>
</Configuration>