# Binaries and Executables
build-scripts/closure-compiler.jar

# Secrets
secrets.env
worker-config-*

# Packages
node_modules
target
__pycache__

# Log files/folder
logs

# Databases
services/databases/*/data

# Other
.DS_Store