# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
vulcan

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Starting scripts for ease of use
build.sh
test.sh

# Log files/folder
logs

# Secret files
values.yaml

.DS_Store