### -------------------------------------------------- ###
#   Namespace                                            #
### -------------------------------------------------- ###

# Vulcan Application Namespace
---
kind: Namespace
apiVersion: v1
metadata:
  name: vulcan-application
  labels:
    env: dev





### -------------------------------------------------- ###
#   Vulcan Application                                   #
### -------------------------------------------------- ###

# Vulcan Backend
---
apiVersion: v1
kind: Service
metadata:
  name: vulcan
  namespace: vulcan-application
  labels:
    env: dev
    service: vulcan
spec:
  type: NodePort
  externalTrafficPolicy: Local
  ports:
    - port: 443
      targetPort: 443
      nodePort: 32100
  selector:
    service: vulcan
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vulcan
  namespace: vulcan-application
  labels:
    env: dev
    service: vulcan
spec:
  replicas: 1
  selector:
    matchLabels:
      service: vulcan
  template:
    metadata:
      labels:
        env: dev
        service: vulcan
    spec:
      volumes:
        - name: workdir
          emptyDir: {}
      initContainers:
        - name: init-vulcan
          image: maven:3.9-eclipse-temurin-21
          command: ["/bin/bash"]
          args: ["-c", "curl -fs https://raw.githubusercontent.com/MatthewBrazill/vulcan-testing-app/main/build-scripts/startup.sh | bash -s"]
          volumeMounts:
            - name: workdir
              mountPath: /vulcan
          env:
            - name: ENV
              value: dev
            - name: SERVICE
              value: vulcan
          resources:
            limits:
              memory: "512Mi"
              cpu: "0.5"
      containers:
        - name: vulcan
          image: maven:3.9-eclipse-temurin-21
          command: ["java"]
          args:
            - "-javaagent:/vulcan/services/vulcan/dd-java-agent.jar"
            - "-Djavax.net.ssl.trustStore=/vulcan/services/vulcan/cacert"
            - "-Dlog4j2.configurationFile=/vulcan/services/vulcan/src/log4j2.xml"
            - "-Dvulcan.session.key=$VLCN_SESSION_KEY"
            - "-jar"
            - "/vulcan/services/vulcan/target/vulcan.jar"
            - "--logging.config=/vulcan/services/vulcan/src/log4j2.xml"
          workingDir: /vulcan/services/vulcan
          volumeMounts:
            - name: workdir
              mountPath: /vulcan
          env:
            - name: ENV
              value: dev
            - name: SERVICE
              value: vulcan
            - name: VERSION
              value: "1.3.0"
            - name: CERT_FOLDER
              value: /vulcan/services/vulcan/certificate
            - name: KAFKA_BROKER
              value: "notes-queue.vulcan-application.svc.cluster.local:9092"
            - name: VLCN_SESSION_KEY
              valueFrom:
                secretKeyRef:
                  name: vulcan-secrets
                  key: SESSION_KEY
            - name: PW_PEPPER
              valueFrom:
                secretKeyRef:
                  name: vulcan-secrets
                  key: PASSWORD_PEPPER
          ports:
            - containerPort: 443
              protocol: TCP
          resources:
            limits:
              memory: "1Gi"
              cpu: "0.2"
        - name: vulcan-sessions
          image: redis/redis-stack-server:latest
          ports:
            - containerPort: 6379
              protocol: TCP
          resources:
            limits:
              memory: "64Mi"
              cpu: "0.01"


# User-Manager
---
apiVersion: v1
kind: Service
metadata:
  name: user-manager
  namespace: vulcan-application
  labels:
    env: dev
    service: user-manager
spec:
  ports:
    - port: 443
      targetPort: 443
  selector:
    service: user-manager
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-manager
  namespace: vulcan-application
  labels:
    env: dev
    service: user-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      service: user-manager
  template:
    metadata:
      labels:
        env: dev
        service: user-manager
    spec:
      volumes:
        - name: workdir
          emptyDir: {}
      initContainers:
        - name: init-user-manager
          image: node:18
          command: ["/bin/bash"]
          args: ["-c", "wget -nv -O - https://raw.githubusercontent.com/MatthewBrazill/vulcan-testing-app/main/build-scripts/startup.sh | bash -s"]
          volumeMounts:
            - name: workdir
              mountPath: /vulcan
          env:
            - name: ENV
              value: dev
            - name: SERVICE
              value: user-manager
          resources:
            limits:
              memory: "512Mi"
              cpu: "0.5"
      containers:
        - name: user-manager
          image: node:18
          command: ["npm", "start"]
          workingDir: /vulcan/services/user-manager
          volumeMounts:
            - name: workdir
              mountPath: /vulcan
          env:
            - name: ENV
              value: dev
            - name: SERVICE
              value: user-manager
            - name: VERSION
              value: "1.4.0"
            - name: CERT_FOLDER
              value: /vulcan/services/user-manager/certificate
          ports:
            - containerPort: 443
              protocol: TCP
          resources:
            limits:
              memory: "256Mi"
              cpu: "0.05"


# God-Manager
---
apiVersion: v1
kind: Service
metadata:
  name: god-manager
  namespace: vulcan-application
  labels:
    env: dev
    service: god-manager
spec:
  ports:
    - port: 443
      targetPort: 443
  selector:
    service: god-manager
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: god-manager
  namespace: vulcan-application
  labels:
    env: dev
    service: god-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      service: god-manager
  template:
    metadata:
      labels:
        env: dev
        service: god-manager
    spec:
      volumes:
        - name: workdir
          emptyDir: {}
      initContainers:
        - name: init-god-manager
          image: golang:1.25
          command: ["/bin/bash"]
          args: ["-c", "wget -nv -O - https://raw.githubusercontent.com/MatthewBrazill/vulcan-testing-app/main/build-scripts/startup.sh | bash -s"]
          volumeMounts:
            - name: workdir
              mountPath: /vulcan
          env:
            - name: ENV
              value: dev
            - name: SERVICE
              value: god-manager
          resources:
            limits:
              memory: "6G"
              cpu: "4"
      containers:
        - name: god-manager
          image: golang:1.25
          command: ["/vulcan/services/god-manager/build/god-manager"]
          workingDir: /vulcan/services/god-manager
          volumeMounts:
            - name: workdir
              mountPath: /vulcan
          env:
            - name: ENV
              value: dev
            - name: SERVICE
              value: god-manager
            - name: VERSION
              value: "1.0.1"
            - name: CERT_FOLDER
              value: /vulcan/services/god-manager/certificate
          ports:
            - containerPort: 443
              protocol: TCP
          resources:
            limits:
              memory: "128Mi"
              cpu: "0.05"





### -------------------------------------------------- ###
#   Supporting Infrastructure                            #
### -------------------------------------------------- ###

# Authenticator
---
apiVersion: v1
kind: Service
metadata:
  name: authenticator
  namespace: vulcan-application
  labels:
    env: dev
    service: authenticator
spec:
  ports:
    - port: 443
      targetPort: 443
  selector:
    service: authenticator
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: authenticator
  namespace: vulcan-application
  labels:
    env: dev
    service: authenticator
spec:
  replicas: 1
  selector:
    matchLabels:
      service: authenticator
  template:
    metadata:
      labels:
        env: dev
        service: authenticator
    spec:
      volumes:
        - name: workdir
          emptyDir: {}
      containers:
        - name: authenticator
          image: python:3.12
          command: ["/bin/bash"]
          args: ["-c", "wget -nv -O - https://raw.githubusercontent.com/MatthewBrazill/vulcan-testing-app/main/build-scripts/startup.sh | bash -s"]
          workingDir: /vulcan/services/authenticator
          volumeMounts:
            - name: workdir
              mountPath: /vulcan
          env:
            - name: ENV
              value: dev
            - name: SERVICE
              value: authenticator
            - name: VERSION
              value: "1.2.1"
            - name: CERT_FOLDER
              value: /vulcan/services/authenticator/certificate
            - name: PW_PEPPER
              valueFrom: 
                secretKeyRef: 
                  name: vulcan-secrets
                  key: PASSWORD_PEPPER
          ports:
            - containerPort: 443
              protocol: TCP
          resources:
            limits:
              memory: "256Mi"
              cpu: "0.3"


# Scribe
---
apiVersion: v1
kind: Service
metadata:
  name: scribe
  namespace: vulcan-application
  labels:
    env: dev
    service: scribe
spec:
  ports:
    - port: 443
      targetPort: 443
  selector:
    service: scribe
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: scribe
  namespace: vulcan-application
  labels:
    env: dev
    service: scribe
spec:
  replicas: 1
  selector:
    matchLabels:
      service: scribe
  template:
    metadata:
      labels:
        env: dev
        service: scribe
    spec:
      volumes:
        - name: workdir
          emptyDir: {}
      initContainers:
        - name: init-scribe
          image: node:18
          command: ["/bin/bash"]
          args: ["-c", "wget -nv -O - https://raw.githubusercontent.com/MatthewBrazill/vulcan-testing-app/main/build-scripts/startup.sh | bash -s"]
          volumeMounts:
            - name: workdir
              mountPath: /vulcan
          env:
            - name: ENV
              value: dev
            - name: SERVICE
              value: scribe
          resources:
            limits:
              memory: "512Mi"
              cpu: "0.5"
      containers:
        - name: scribe
          image: node:18
          command: ["npm", "start"]
          workingDir: /vulcan/services/scribe
          volumeMounts:
            - name: workdir
              mountPath: /vulcan
          env:
            - name: ENV
              value: dev
            - name: SERVICE
              value: scribe
            - name: VERSION
              value: "0.2.0"
            - name: CERT_FOLDER
              value: /vulcan/services/scribe/certificate
            - name: KAFKA_BROKER
              value: "notes-queue.vulcan-application.svc.cluster.local:9092"
            - name: KAFKA_CLIENT_ID
              value: "kube-scribe"
          ports:
            - containerPort: 443
              protocol: TCP
          resources:
            limits:
              memory: "256Mi"
              cpu: "0.05"


# Delphi
---
apiVersion: v1
kind: Service
metadata:
  name: delphi
  namespace: vulcan-application
  labels:
    env: dev
    service: delphi
spec:
  ports:
    - port: 443
      targetPort: 443
  selector:
    service: delphi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: delphi
  namespace: vulcan-application
  labels:
    env: dev
    service: delphi
spec:
  replicas: 1
  selector:
    matchLabels:
      service: delphi
  template:
    metadata:
      labels:
        env: dev
        service: delphi
    spec:
      volumes:
        - name: workdir
          emptyDir: {}
      containers:
        - name: delphi
          image: python:3.9
          command: ["/bin/bash"]
          args: ["-c", "wget -nv -O - https://raw.githubusercontent.com/MatthewBrazill/vulcan-testing-app/main/build-scripts/startup.sh | bash -s"]
          workingDir: /vulcan/services/delphi
          volumeMounts:
            - name: workdir
              mountPath: /vulcan
          env:
            - name: ENV
              value: dev
            - name: SERVICE
              value: delphi
            - name: VERSION
              value: "0.2.0"
            - name: CERT_FOLDER
              value: /vulcan/services/delphi/certificate
            - name: KAFKA_BROKER
              value: "notes-queue.vulcan-application.svc.cluster.local:9092"
            - name: OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: vulcan-secrets
                  key: OPENAI_API_KEY
          ports:
            - containerPort: 443
              protocol: TCP
          resources:
            limits:
              memory: "384Mi"
              cpu: "0.05"


# Kafka Queue
---
apiVersion: v1
kind: Service
metadata:
  name: notes-queue
  namespace: vulcan-application
  labels:
    env: dev
    service: notes-queue
spec:
  type: NodePort
  externalTrafficPolicy: Local
  ports:
    - name: "external"
      port: 29092
      targetPort: 29092
      nodePort: 32200
    - name: "internal"
      port: 9092
      targetPort: 9092
  selector:
    service: notes-queue
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: notes-queue
  namespace: vulcan-application
  labels:
    env: dev
    service: notes-queue
spec:
  replicas: 1
  selector:
    matchLabels:
      service: notes-queue
  template:
    metadata:
      labels:
        env: dev
        service: notes-queue
    spec:
      containers:
        - name: notes-queue
          image: apache/kafka:3.7.2
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: ENV
              value: dev
            - name: SERVICE
              value: notes-queue
            - name: KAFKA_PROCESS_ROLES
              value: "broker,controller"
            - name: KAFKA_BROKER_ID
              value: "0001"
            - name: KAFKA_NODE_ID
              value: "1"
            - name: KAFKA_CONTROLLER_QUORUM_VOTERS
              value: "1@localhost:9093"
            - name: KAFKA_ADVERTISED_LISTENERS
              value: "DOCKER://pupkube:32200,KUBERNETES://notes-queue.vulcan-application.svc.cluster.local:9092"
            - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
              value: "CONTROLLER:PLAINTEXT,DOCKER:PLAINTEXT,KUBERNETES:PLAINTEXT"
            - name: KAFKA_LISTENERS
              value: "DOCKER://0.0.0.0:29092,KUBERNETES://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093"
            - name: KAFKA_INTER_BROKER_LISTENER_NAME
              value: "KUBERNETES"
            - name: KAFKA_CONTROLLER_LISTENER_NAMES
              value: "CONTROLLER"
            - name: KAFKA_AUTO_CREATE_TOPICS_ENABLE
              value: "true"
            - name: KAFKA_DEFAULT_REPLICATION_FACTOR
              value: "1"
            - name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
              value: "1"
            - name: KAFKA_JMX_OPTS
              value: "-Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.local.only=false -Dcom.sun.management.jmxremote.port=9091 -Dcom.sun.management.jmxremote.rmi.port=9091 -Djava.rmi.server.hostname=$(POD_IP)"
            - name: JMX_PORT
              value: "9091"
          ports:
            - containerPort: 29092
              protocol: TCP
            - containerPort: 9092
              protocol: TCP
            - containerPort: 9091
              protocol: TCP
          resources:
            limits:
              memory: "1G"
              cpu: "0.05"