name: vulcan-application
networks:
  vulcan_app:
    name: vulcan_app
  pupkube:
    name: pupkube
    external: true
services:

  ### -------------------------------------------------- ###
  #   Vulcan Application                                   #
  ### -------------------------------------------------- ###

  # Scribe
  scribe:
    image: node:18
    container_name: scribe
    networks:
      - vulcan_app
      - pupkube
    environment:
      - ENV=dev
      - SERVICE=scribe
      - VERSION=0.2.0
      - CERT_FOLDER=/vulcan/services/scribe/certificate
      - KAFKA_BROKER=pupkube:32200
      - KAFKA_CLIENT_ID=docker-scribe
    working_dir: /
    command: ["/bin/sh", "-c", "curl -s https://raw.githubusercontent.com/MatthewBrazill/vulcan-testing-app/main/build-scripts/startup.sh | sh -s"]
    deploy:
      resources:
        limits:
          cpus: "0.4"
          memory: 5G





  ### -------------------------------------------------- ###
  #   Supporting Infrastructure                            #
  ### -------------------------------------------------- ###

  # Application Proxy
  vulcan-proxy:
    image: nginx:1.25.4-alpine
    container_name: vulcan-proxy
    ports:
      - 443:443
    networks:
      - vulcan_app
      - pupkube
    environment:
      - ENV=dev
      - SERVICE=vulcan-proxy
      - VERSION=0.1.2
      - CERT_FOLDER=/vulcan/services/vulcan-proxy/certificate
    command: ["/bin/sh", "-c", "nginx -v && curl -s https://raw.githubusercontent.com/MatthewBrazill/vulcan-testing-app/main/build-scripts/startup.sh | sh -s"]
    deploy:
      resources:
        limits:
          cpus: "0.4"
          memory: 1G





  ### -------------------------------------------------- ###
  #   Data Storage                                         #
  ### -------------------------------------------------- ###

  # God Database
  god-database:
    image: mongo:latest
    container_name: god-database
    networks:
      - vulcan_app
      - pupkube
    volumes:
      - ./services/databases/god-database/data:/data/db
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: 1G


  # Notes Database
  notes-database:
    image: mongo:latest
    container_name: notes-database
    networks:
      - vulcan_app
      - pupkube
    volumes:
      - ./services/databases/notes-database/data:/data/db
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: 1G


  # User Database
  user-database:
    image: postgres:15
    container_name: user-database
    networks:
      - vulcan_app
      - pupkube
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - ./services/databases/user-database/data:/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: 1G