/* Storage Page */
#storage-box {
    width: 800px;
    display: block;
    margin: auto;
    margin-top: 20px;
}



#god-list {
    margin-top: 20px;
}

.god-item {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.god-header {
    font-weight: bold;
    margin: 0px;
}

.god-meta {
    color: #222222;
}