/* Storage Page */
#selected-user {
    width: 300px;
    margin: auto;
}

#user-box {
    width: 800px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.user-item {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

#selected-user {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: lightgray;
}

#selected-user-notes {
    padding-left: 25px;
}

p {
    margin-bottom: 0px;
    width: 50%;
}

ul {
    margin: 0px;
}