<meta charset="UTF-8">
<meta name="application-name" content="Vulcan">
<meta name="description" content="A testing platform to try out implementations of Datadog tracing and synthetics (this is the uninstrumented version)">
<meta name="keywords" content="DD, Datadog, Rum, Tracing, APM, Synthetics">
<meta name="author" content="Matthew Brazill">

<title>Vulcan - {{title}}</title>
<link rel="icon" type="image/x-icon" href="/img/icon.png">

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.js"></script>
<script src="/js/global.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.css">
<link rel="stylesheet" href="/css/device/desktop.css">