<meta charset="UTF-8">
<meta name="application-name" content="Vulcan">
<meta name="description" content="A testing platform to try out implementations of Datadog tracing and synthetics">
<meta name="keywords" content="DD, Datadog, Rum, Tracing, APM, Synthetics">
<meta name="author" content="Matthew Brazill">

<title>Vulcan {{language}} - {{title}}</title>
<link rel="icon" type="image/x-icon" href="/img/icon.png">

<script src="https://www.datadoghq-browser-agent.com/us1/v5/datadog-rum.js"></script>
<script src="https://www.datadoghq-browser-agent.com/us1/v5/datadog-logs.js"></script>
<script>
  window.DD_RUM && window.DD_RUM.init({
    clientToken: 'pubca069499426c38f0c05d569e1b76d301',
    applicationId: '9f4eadd0-3a89-4fce-ab51-0ce6952dbab3',
    service: 'vulcan-ui',
    env: 'docker',
    version: '1.4',
    site: 'datadoghq.com',
    sessionSampleRate: 100,
    sessionReplaySampleRate: 100,
    trackUserInteractions: true,
    trackResources: true,
    trackLongTasks: true,
    allowedTracingUrls: ["https://localhost", "https://vulcan-go", "https://vulcan-js", "https://vulcan-py"],
    defaultPrivacyLevel: 'mask-user-input'
  });

  window.DD_RUM && window.DD_RUM.startSessionReplayRecording();
  
  window.DD_LOGS && window.DD_LOGS.init({
    clientToken: 'pubca069499426c38f0c05d569e1b76d301',
    site: 'datadoghq.com',
    service: 'vulcan-ui',
    forwardConsoleLogs: 'all',
    forwardErrorsToLogs: true,
    sessionSampleRate: 100,
    sessionReplaySampleRate: 100
  })
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.js"></script>
<script src="/js/global.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.css">
<link rel="stylesheet" href="/css/device/desktop.css">