{{ define "error" }}
<!DOCTYPE html>
<html>

<head>
    {{ template "head" . }}
    <link rel="stylesheet" href="/css/error.css">
    <script src="/js/error.js"></script>
</head>

<body>
    <nav>
        {{ template "nav" . }}
    </nav>

    <div id="content">
        <div id="error-box">
            <h2>Opps! Looks like we lost your page...</h2>
            <h5>{{ .HttpCode }} Code Returned. {{ .Message }}</h5>
        </div>
    </div>

    <footer>
        {{ template "footer" . }}
    </footer>
</body>

</html>
{{ end }}